<div class="card">
    <div class="card-body">

       <h1>About</h1>
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi illo cupiditate doloremque totam, 
           ullam animi. Laboriosam, aliquam quo velit 
           quod nobis molestiae veritatis deserunt eos illo minus vero sint quae.L
           Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim inventore debitis laboriosam, 
           similique ut vero eligendi nemo obcaecati vel aperiam esse mollitia id fugit, 
           dolor voluptas eum illum reiciendis harum!</p>
    </div>
</div>