<div class="jumbotron mp-4">
    <h1 class = "display-4">Notes App Nodejs and Mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adip, Lorem ipsum dolor sit amet, consectetur adip</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet, consectetur adip Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
        Laborum aliquid dolorum id cum officia, delectus hic eaque animi 
        blanditiis corporis facere excepturi quasi veniam, dolores exercitationem sunt ipsa velit optio.</p>
    <a href="https://www.google.com/" class="btn btn-primary btn-lg">GooogleWeb</a>
</div>